{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:react-hooks/recommended"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true,
    "navigator": true,
    "localStorage": true,
    "sessionStorage": true,
    "fetch": true,
    "describe": true,
    "it": true,
    "expect": true,
    "URLSearchParams": true,
    "jest": true,
    "Blob": true,
    "File": true,
    "atob": true,
    "shallow": true,
    "render": true,
    "mount": true,
    "FormData": true,
    "FileReader": true,
    "Audio": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/prefer-default-export": 0,
    "no-param-reassign": "off",
    "no-irregular-whitespace": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-restricted-syntax": "off",
    "react/jsx-props-no-spreading": 0,
    "react/static-property-placement": 0,
    "react/sort-comp": 0,
    "arrow-body-style": 0
  }
}
